.hyponet-log-wrapper{
    position:relative;
    height:calc(50vh - 100px);
    margin:auto;
    overflow: hidden;
    padding:$base-padding;
}
.hyponet-log{
    position:absolute;
    bottom:0;
    
    div{
        padding:5px;
        line-height: 1;
        margin:0px -5px;
        
        outline: none;
    
        &.editing, &:focus{
        
            background:$log-contrast-bg;
        }
        
    }
    
}