.hyponet-speak{
    padding:$base-padding;
    position:relative;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    color:$base-speak-color;
    
    &:before{
        content:'';
        position:absolute;
        z-index:-1;
        left:20px;
        top:0px;
        right:20px;
        bottom:0px;
        background:$base-speak-bg;
        border-radius: $border-radius-box;
    }
}